[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Applications
Name[de]=Anwendungen
Name[es]=Aplicaciones
Name[fr]=Applications
Name[it]=Applicazioni
Name[jp]=アプリケーション
Name[pl]=Aplikacje
Name[pt]=Aplicações
Name[ru]=Приложения
Comment=Run application
Comment[de]=Anwendung ausführen
Comment[es]=Ejecutar aplicación
Comment[fr]=Exécuter l'application
Comment[it]=Esegui l'applicazione
Comment[ja]=アプリケーションを実行する
Comment[pl]=Uruchom aplikację
Comment[pt]=Executar aplicativo
Comment[ru]=Запустить приложение
Exec=/usr/bin/sparky-dashboard
Icon=start-here
Terminal=false
MultipleArgs=false
Type=Application
Categories=Utility;
#NoDisplay=true
